.FormAddNew {
  width: 80%;
  margin: auto;
}
.FormHeading {
  text-align: center;
  font-size: 2rem;
  padding: 50px;
}
.FormAddNew input[type='text'],
.FormAddNew textarea {
  width: 100%;
  background-color: var(--color-1);
  border: none;
  margin-bottom: 20px;
  padding: 5px;
  border-bottom: 1px solid var(--color-2);
  font-size: 0.9rem;
}
.Category{
  line-height: 40px;
  margin-right: 10px;
}