.blogPost {
  width: 80%;
  margin: auto;
}
.blogHeading {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 50px;
}
.blogPhoto {
  width: 100%;
}
.blogBody {
  padding: 50px;
}
.blogCategories {
  border-top: 1px solid var(--color-2);
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  margin-top: 25px;
}
.blogCategory {
  padding: 7px 15px;
  font-size: 0.8rem;
  background-color: var(--color-5);
  border-radius: 50px;
  margin-right: 10px;
  color: white;
}
