:root{
  --color-1:rgba(236,240,241 ,1);
  --color-2:rgba(189,195,199 ,1);
  --color-3:rgba(127,140,141 ,1);
  --color-4:rgba(149,165,166 ,1);
  --color-5:rgba(52,73,94 ,1);
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.App {
  background-color:var(--color-1);
  color:var(--color-5);
  min-height: 100vh;
}
